apiVersion: apps/v1
kind: Deployment
metadata:
  name: web
  namespace: hello
spec:
  replicas: 1
  selector:
    matchLabels:
      app: web
  template:
    metadata:
      labels:
        app: web
    spec:
      containers:
        - name: web
          image: nginx:1.27-alpine
          ports:
            - containerPort: 80
          volumeMounts:
            - name: web-index
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
      volumes:
        - name: web-index
          configMap:
            name: web-index
